<html>
<head>
<title></title>
<script
    src="index-2.html"
    integrity="1234234565438908"
    crossorigin="mpotemplate">
</script>
<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script> 
</head>
<body>
<div id="footer">
    <div class="section-footer position-relative">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 d-flex flex-column align-items-center justify-content-center border-end border-start border-opacity-10 border-white pt-10 pt-lg-0">
                            <div class="text-center">
                                <span class="text-uppercase fw-bold text-primary fs-7">our expertise</span>
                                <div class="d-flex flex-column align-items-center pt-5">
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Slots</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Casino</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Sportsbook</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Lottery</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Poker</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="our-game.html">Arcade</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center py-90 border-end border-start border-start-lg-0 border-opacity-10 border-white">
                            <a href="index-2.html"><img src="assets/imgs/template/logo.svg" alt="logo" />
                                <span class="text-white fw-bold mb-0 ds-xs-6 ms-2">L</a>OGO</span>
                            </a>
                            <p class="fw-regular mt-5 mb-6 text-center px-md-10 px-0">
                                MPO Template is the best way to get your wealth quickly.
                                We provide you with the best rewards.
                            </p>
                            <div class="d-flex gap-2">
                                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </div>
                        </div>
                        <div class=" col-lg-3 d-flex flex-column align-items-center justify-content-center border-end border-start border-start-lg-0 border-opacity-10 border-white pb-10 pb-lg-0">
                            <div class="text-center">
                                <span class="text-uppercase fw-bold text-primary fs-7">essential</span>
                                <div class="d-flex flex-column align-items-center pt-5">
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="">About us</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="">FAQs</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="">Contact Us</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="">Payment Method</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="">News and Events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-white border-opacity-10"></div>
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between justify-content-center py-4 px-md-0">
                        <p class="fw-regular mb-md-0 mb-3">Copyright<a href="#" class="text-white fw-semibold"></a> 2025, All Rights Reserved</p>
                        <div class="d-flex">
                            <a href="faqs.html" class="link-hover-primary-light text-white me-3 fw-semibold"> FAQs </a>
                            <a href="contact.html" class="link-hover-primary-light text-white fw-semibold"> Get in touch </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>
